// Чаще всего миксины переиспользуются на всём проекте в разных модулях для блоков. Поэтому миксины кладут в папку для глобальных стилей в файл mixins.scss
@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin fonttitle {
  font-family: $primary-font;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
