/* здесь используйте глобальные переменные */

/* Переменные для VIEW-PORT-SIZE */
// $view-port-mobile: 320px;
// $view-port-tablet: 768px;
// $view-port-desktop: 1440px;

/* Переменная для использования названия шрифта */
$primary-font: "Oswald","Arial", sans-serif;
$secondary-font: "Lato", "Arial", sans-serif;

/* TEXT-COLORS */
$color-basis: #000000;
$color-accent: #ffffff;
$color-paragraph: rgba(68, 68, 68, 1);
$color-text-heading:rgba(34, 34, 34, 1);

/* BACKGROUND-COLORS  */
$bg-basis: #ffffff;
$bg-button:rgba(104, 183, 56, 1);
$bg: rgba(242, 242, 242, 1);
$bg-dark:rgba(234, 234, 234, 1);
