// additional
.additional__link {
  @include link;
}

.additional__title {
  @include fonttitle;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-text-heading;
}

.additional__list {
  @include font-paragraph;
  font-size: 14px;
  line-height: 14px;
}
