.additional-products__wrapper {
  @include wrapper-center-mobile;
}

.additional-products__list {
  @include list;
  margin-bottom: 35px;
}

.additional-products__heading {
  @include fonttitle;
  font-size: 24px;
  line-height: 24px;
  padding-top: 25px;
  margin-bottom: 36px;
}

.additional-products__item {
  margin-bottom: 19px;
}

@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .additional-products__wrapper {
    @include wrapper-center-tablet;
  }
}

@media (min-width: $view-port-desktop) {
  .additional-products__wrapper {
    @include wrapper-center-desktop;
  }
}
