// card
.card__link-title {
  @include fonttitle;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(17, 17, 17, 1);
}

.card__title {
  @include fonttitle;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $color-text;
}
