.content__link {
  @include link;
  display: block;
  margin-bottom: 14px;
  width: 76px;
  min-height: 41px;
}

.content__heading {
  @include fonttitle;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-text-heading;
}

.content__properties {
  margin: 0;
}

.content__property {
  @include font-paragraph;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 140px;
}

@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .content__link {
    @include link;
    width: 250px;
    min-height: 47px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .content__heading {
    margin-left: -1px;//выравнивание контента
    font-size: 20px;
    line-height: 24px;
  }

  .content__heading-nowrap {
    white-space: nowrap;
    display: block;//чтобы следующее слово переносилось на новую строку
  }

  .content__propertys {
    margin-bottom: 32px;
  }

  .content__property {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    gap: 50px;
    width: 250px;
    min-height: 22px;//там 21px ,добавила тк высота у второго блока 24px
  }

  .content__property:last-child {
    margin-bottom: 0;
  }

  .content__property::after {
    position: absolute;
    display: block;
    content: "";
    outline: 1px solid#CDCDCD;
    width: 100%;
    top: 25px;
  }

  .content__property-value {
    min-width: 60px;
    margin-left: 0;
    text-align: end;
  }
}
