// item-stats
.item-stats__number {
  @include fonttitle;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.item-stats__description {
  @include fonttitle;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 12px;
  color: $color-text;
}
