// location
.location {
  background-color: $bg;
}

.location__header {
  @include fonttitle;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.location__description {
  @include font-paragraph;
  font-size: 14px;
  line-height: 20px;
}
