.logo--modifier {
  display: block;
  text-align: center;
}

.logo__logo-text {
  width: 101px;
  height: 18px;
}

.logo__logo-img:not(:first-child):not(:last-child),
.logo__logo-text:not(:first-child):not(:last-child) {
  margin-right: 10px;
}

.logo__logo-text--modifier {
  width: 128px;
  height: 24px;
}

@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .logo__logo-img {
    margin-right: 0;
    height: 50px;
    width: 60px;
  }

  .logo__logo-img:not(:first-child):not(:last-child),
  .logo__logo-text:not(:first-child):not(:last-child) {
    margin-right: 0;
  }

  .logo__logo-text {
    transform: translateY(-1px);
    width: 123px;//изменила с 101px
    height: 20px;//изменила с 18xp
  }

  .logo__logo-text--modifier {
    transform: translateY(3px);
    height: 26px;
    width: 140px;
  }
}


@media (min-width: $view-port-desktop) {
  .logo__logo-img {
    margin-right: 0;
    height: 59px;
    width: 70px;
  }

  .logo__logo-text {
    // transform: translateX(10px);
    width: 118px;//изменила с 101px
    height: 24px;//изменила с 18xp
  }

  .logo__logo-text--modifier {
    transform: translateX(-11px);
    height: 24px;
    width: 128px;
  }

  .logo__logo-img:not(:first-child):not(:last-child),
  .logo__logo-text:not(:first-child):not(:last-child) {
    margin-right: 0;
    width: 70px;
    height: 59px;
  }
}
