.logo--modifier {
  display: block;
  text-align: center;
}

.logo__logo-text {
  width: 101px;
  height: 18px;
}

.logo__logo-img:not(:first-child):not(:last-child),
.logo__logo-text:not(:first-child):not(:last-child) {
  margin-right: 10px;
}

.logo__logo-text--modifier {
  width: 128px;
  height: 24px;
}

@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .logo__logo-img {
    margin-right: 0;
    height: 50px;
    width: 60px;
  }

  .logo__logo-img:not(:first-child):not(:last-child),
  .logo__logo-text:not(:first-child):not(:last-child) {
    margin-right: 0;
  }
}


@media (min-width: $view-port-desktop) {
  .logo__logo-img {
    margin-right: 0;
    height: 59px;
    width: 70px;
  }

  .logo__logo-text {
    width: 118px;
    height: 21px;
  }

  .logo__logo-img:not(:first-child):not(:last-child),
  .logo__logo-text:not(:first-child):not(:last-child) {
    margin-right: 0;
    width: 70px;
    height: 59px;
  }
}
