.main-header {
  margin: 0 auto;
  width: $view-port-mobile;
  position: relative;//спозиционировали кнопку относительно этого элемента
}

.main-header__wrapper {
  padding: 0 20px;
}

.main-header__logo {
  padding-top: 13px;
  margin-bottom: 14px;
  width: 240px;
  min-height: 38px;
}
