.main-footer {
  background-color: $bg;
  width: $view-port-mobile;
  margin: 0 auto;
}

.main-footer__wrapper {
  @include wrapper-center;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
}

.main-footer__logo-company {
  @include link;
}

@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .main-footer {
    width: $view-port-tablet;
  }
}

@media (min-width: $view-port-desktop) {
  .main-footer {
    width: $view-port-desktop;
  }
}
