.main-header {
  margin: 0 auto;
  width: $view-port-mobile;
  position: relative;//спозиционировали кнопку относительно этого элемента
}

.main-header__wrapper {
  padding: $padding-mobile;
}

.main-header__logo {
  padding-top: 13px;
  margin-bottom: 14px;
  width: 240px;
  min-height: 38px;
}

@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .main-header {
    width: $view-port-tablet;
  }

  .main-header__wrapper {
    // padding: $padding-tablet;
    display: grid;
    grid-template-columns: 1fr 30px 174px 94px 436px 30px 1fr;
    grid-template-rows: 1fr;
    padding-top: 25px;
    margin-bottom: 38px;
    align-self: start;
  }

  .main-header__logo {
    grid-column: 3 / 4;
    grid-row: 1fr;
    // min-height: 50px;
    padding: 0;
    margin: 0;
  }

  .main-header__main-nav {
    // padding-top: 14px;
    grid-column: 5 / 6;
    grid-row: 1fr;
    align-self: start;
  }
}

@media (min-width: $view-port-desktop) {
  .main-header {
    width: $view-port-desktop;
    position: absolute;
  }

  .main-header__wrapper {
    padding: $padding-desktop;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 135px;
    padding-top: 55px;
    margin-bottom: 29px;
  }

  .main-header__logo {
    width: 202px;//было 550px
    min-height: 59px;
    padding: 0;
    margin: 0;
  }
}
