.main__stats {
  background-color: $bg-dark;
}

@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .main__nutrition {
    width: $view-port-tablet;
    min-height: 837px; /* 609+21+20+40+120+27 */
  }

  .main__stats {
    background: linear-gradient($bg-basis 57.26%, $bg-dark 42.73%);
    height: 100%;
    background-position: right top;
  }
}

@media (min-width: $view-port-desktop) {
  .main__nutrition {
    width: 100%;
  }

  .main__location {
    height: 400px;
  }

  .main__stats {
    background: linear-gradient(180deg, $bg-basis 30.73%, $bg-dark 30.73% 69.26%, $bg-dark 69.26%);
    background-position: right top;
  }

  .main__programs {
    background-color: $bg-basis;
    width: 100%;
  }

  .main__advantages {
    background-color: $bg-basis;
    width: 100%;
  }
}
