// nutrition

.nutrition {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 63%, $bg-basis 37%), url("../../images/nutrition-cat-bg-index-mobile.png@2x.png"), linear-gradient(rgba(79, 78, 83, 1) 0% 100%, rgba(69, 68, 73, 1) 0% 100%);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%, 320px 302px, 100% 63%;
  text-align: center;
}

.nutrition__heading {
  @include fonttitle;
  font-size: 36px;
  line-height: 40px;
  color: $color-accent;
}

.nutrition__paragraph {
  @include fonttitle;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $color-accent;
}

.nutrition__button {
  @include link;
  font-size: 16px;
  line-height: 20px;
}
