.page {
  height: 100%;
}

@media (min-width: $view-port-mobile) {
  .page__body {
    @include fonttitle;
    min-width: $view-port-mobile;
    min-height: 100%;
    margin: 0 auto;
    color: $color-basis;
    background-color: $bg-basis;
  }
}

// .container {
//   width: 280px;
//   padding: 0 20px;
// }


@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .container {
    width: 708px;
    padding: 0 30px;
  }
}


@media (min-width: $view-port-desktop) {
  .container {
    width: 1220px;
    padding: 0 110px;
  }
}
