.page {
  height: 100%;
  margin: 0 auto;
}

.page__body {
  margin: 0;
}

@media (min-width: $view-port-desktop) {
  .page__body {
    position: relative;
    min-height: 100%;
    background: linear-gradient(#4f4f54 0% 100%, #434348 0% 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left top;
  }

  .page__body::after {
    z-index: -2;
    position: absolute;
    content: "";
    width: 720px;
    height: 694px;
    background-image: url("../../images/nutrition-cat-bg-index-desktop@2x.jpg");
    background-repeat: no-repeat;
    top: 0;
    //left: 50%;//чтобы кот не стоял всегда справа по центру и не уходил вправо при увеличении ширины
    right: 0;
    transform: translateX(0%);//чотбы контент был в центре и не появлялась горизонтальная полоса
    background-size: 1040px 694px;
  }

  .page__body::before {
    z-index: -1;
    position: absolute;
    content: "";
    background-image: linear-gradient(90deg, $bg-basis 50%, rgba(104, 183, 56, 0.85) 50% 50%, rgba(104, 183, 56, 0.85) 50%);
    background-position: right top;
    margin: 0 auto;
    width: 100%; //важно контент будет центрироваться и  не расширятся !
    height: 50%;
    top: 0;
    right: 0;
  }

  .page__body--modifier {
    background-image: none;
  }

  .page__body--modifier::after {
    background-image: none;
  }

  .page__body--modifier::before {
    background-image: none;
  }
}
