.programs__wrapper {
  @include wrapper-center;
}

.programs__list {
  @include list;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
}

.programs__item {
  @include list;
  background-color: $bg;
}
