//program
.program__heading {
  @include fonttitle;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.program__paragraph {
  @include font-paragraph;
}

.program__link {
  @include fonttitle;
  @include link;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
