.stats__wrapper {
  @include wrapper-center-mobile;
}

.stats {
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: $bg-dark;
}

.stats__heading {
  @include fonttitle;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
}

.stats__paragraph {
  @include font-paragraph;
  margin-bottom: 20px;
}

.stats__list {
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.stats__item {
  width: 124px;
  height: 70px;
}

.stats__description {
  @include fonttitle;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .stats__wrapper {
    @include wrapper-center-tablet;
    min-height: 1081px;
  }

  .stats {
    padding-top: 45px;
    padding-bottom: 101px;
    background-image: linear-gradient($bg-basis 50%, $bg-dark 50%);
    background-repeat: no-repeat;
    background-position: right top;
    text-align: left;
    background-clip: content-box;
    background-size: 100% 100vh;
  }

  .stats__heading {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  .stats__paragraph {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
    width: 708px;
  }

  .stats__list {
    margin-bottom: 0;
    gap: 43px;
    justify-content: flex-start;
  }

  .stats__item {
    width: 162px;
    min-height: 77px;
    gap: 0;
  }

  .stats__description {
    width: 174px;
    font-size: 20px;
    margin-bottom: 0;
  }
}

@media (min-width: $view-port-desktop) {
  .stats__wrapper {
    @include wrapper-center-desktop;
  }
}
