// stats
.stats {
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: $bg-dark;
}

.stats__heading {
  @include fonttitle;
  font-size: 36px;
  line-height: 40px;
}

.stats__paragraph {
  @include font-paragraph;
}

.stats__description {
  @include fonttitle;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
