.subscribe__heading {
  @include fonttitle;
  padding-left: 20px;
  padding-top: 40px;
  width: 192px;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 32px;
  position: relative;
  box-shadow: 20px 0 0 0 $bg-basis, -20px 0 0 0 $bg-basis;
  background-color: $bg-basis;
}

.subscribe__heading::before {
  content: "";
  position: absolute;
  display: block;
  top: 49px;//там 36px
  right: 0;
  width: 100vw;
  height: 2px;
  background: $bg-button;
  z-index: -1;
  box-shadow: 100vw 0 0 0 $bg-button;
}

.subscribe__wrapper {
  @include wrapper-center-mobile;
  padding: 0 20px 40px;
}

.subscribe__title {
  @include fonttitle;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  text-align: center;
}

@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .subscribe__wrapper {
    @include wrapper-center-tablet;
  }

  .subscribe {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .subscribe__heading {
    padding-top: 0;
    display: block;
    position: relative;
    margin-left: 50px;
    padding-left: 20px;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 66px;
    background: $bg-basis;
    width: 242px;
  }

  .subscribe__heading::before {
    content: "";
    position: absolute;
    display: block;
    top: 14px;
    right: 0;
    width: 100vw;
    height: 2px;
    background: $bg-button;
    z-index: -1;
    box-shadow: 100vw 0 0 0 $bg-button;
  }

  .subscribe__title {
    font-size: 24px;
    line-height: 32px;
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (min-width: $view-port-desktop) {
  .subscribe__wrapper {
    @include wrapper-center-desktop;
  }

  .subscribe {
    padding-bottom: 104px;
  }

  .subscribe__heading {
    padding-top: 0;
    display: block;
    position: relative;
    margin-left: 90px;
    padding-left: 20px;
    padding-right: 0;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 72px;
    width: 295px;
  }

  .subscribe__heading::before {
    content: "";
    position: absolute;
    display: block;
    top: 17px;
    right: 0;
    width: 100vw;
    height: 2px;
    background: $bg-button;
    z-index: -1;
    box-shadow: 100vw 0 0 0 $bg-button;
  }

  .subscribe__title {
    font-size: 24px;
    line-height: 32px;
    padding-left: 38px;
    padding-right: 38px;
  }
}
