.subscribe__wrapper {
  @include wrapper-center;
}

.subscribe {
  padding-top: 40px;
  padding-bottom: 40px;
}

.subscribe__heading {
  @include fonttitle;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 32px;
}

.subscribe__title {
  @include fonttitle;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  text-align: center;
}

.form-subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .subscribe__wrapper {
    width: $view-port-tablet;
  }
}

@media (min-width: $view-port-desktop) {
  .subscribe__wrapper {
    width: $view-port-desktop;
  }
}
